<section>
    <div class="container">
        <div class="row ">
            <div class="add-product mt-2 text-end">
                <!-- Button trigger modal -->
                
                    <button type="button"  class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Add Product
                    </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form class="  text-center" action="/admin/add-product" method="post"
                                enctype="multipart/form-data">
                                <div class="modal-body">

                                    <div class=" product-field">
                                        <input type="text" name="name" placeholder="Name" required>
                                    </div>
                                    <div class="form-field product-field">
                                        <input type="text" name="price" placeholder="Price" required>
                                    </div>
                                    <div class="form-field product-field">
                                        <input type="text" name="brand" placeholder="Brand" required>
                                    </div>
                                    <div class="form-field product-field">
                                        <input type="text" name="description" placeholder="Description" required>
                                    </div>
                                    <div class="form-field product-field">
                                        <input type="file" name="image" onchange="viewImage(event)" placeholder="image" required>
                                    </div>


                                </div>
                                <div class="modal-footer d-flex justify-content-between">
                                    <img width="80px" height="auto" id="imageView"  alt="">
                                    <button type="submit" class="btn btn-success">add product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            Some text as placeholder. In real life you can have the elements you have chosen. Like,
                            text, images, lists, etc.
                        </div>
                        <div class="dropdown mt-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-md-12 mt-2">

                <table class="table ">
                    <thead>
                        <tr>
                            <th><b></b></th>
                            <th><b></b></th>
                            <th><b>Name</b></th>
                            <th><b>Email</b></th>
                            <th><b>Phone Number</b></th>
                            <th><b></b></th>
                            <th><b></b></th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {{!-- <tr class="tr">
                            <td><input type="checkbox" /></td>
                            <td><b>Mozilla</b></td>
                            <td><b>In celebration of women and girls everywhere</b></td>
                            <td><a href="" class="img"><img src="" alt=""></a></td>
                            <td><a href="" class="btn btn-primary">edit</a></td>
                            <td><a href="" class="btn btn-danger">delete</a></td>
                            <td><a href="" class="btn btn-danger">block</a></td>
                            <td>Mar 10</td>
                        </tr> --}}
                        {{#each users}}
                        <tr >
                            <td  onchange="count(event)">{{@key}}</td>
                            <td><a href="" class="img"><img width="50px" height="auto" src="/images/products/{{this._id}}.jpg" alt=""></a></td>
                            <td>{{this.name}}</td>
                            <td>{{this.email}} </td>
                            <td>{{this.phone}} </td>
                            {{#if this.block}}
                            <td><a href="/admin/UnblockUser/{{this._id}}" class="btn btn-danger">UnBlock</a></td>
                            {{else}}
                            <td><a href="/admin/blockUser/{{this._id}}" class="btn btn-danger">Block</a></td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

 <script>
    function viewImage(event) {
      document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0])
    }

    function count(e){
        console.log('hai ',e)
    }
  </script>